/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 1000px;
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}

/* Set black background color, white text and some padding */
footer {
    background-color: #555;
    color: white;
    padding: 15px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    color: white;
    text-align: center;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    .sidenav {
        height: auto;
        padding: 15px;
    }

    .row.content {
        height: auto;
    }
}

#flashcard{
    width: 100%;
    max-width: 500px;
    margin: auto;

}

#container{
    width: 100%;
    max-width: 525px;
    margin: auto;
}

#progress-bar{
    width: 0%;
}

#flashcard p {

    font-size: 25px;
}

input {
    text-align: center;
}

.rightAnswer{
    border-color: green;
    background-color: green;
}

.wrongAnswer{
    border-color: 	indianred;
    background-color: 	indianred;
}

#showanswer {
  display: none;

}


